<!doctype html>
<html lang="en">
<head>
    <title>Moitrayee!!! This is for you...</title>
    <!-- Load the script "js/main.js" as our entry point -->
    <link rel = "stylesheet" type = "text/css" href= "Css/bootstrap/bootstrap-responsive.css">
    <link rel = "stylesheet" type = "text/css" href= "Css/bootstrap/bootstrap.min.css">
    <link rel = "stylesheet" type = "text/css" href= "Css/bootstrap/bootstrap.css">
    <link rel = "stylesheet" type = "text/css" href= "Css/bootstrap/application.css">
    
</head>
<body>

	<script src="Javascripts/jquery.js"></script>
</body>
</html>
